@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	background-color: gray;
}

svg {
	background-color: white;
	border: solid 1px gray;
	box-shadow: 1px 1px 2px gray;
	padding: 50px 50px 50px 80px;
}

.axis path, .axis line {
	fill : none;
	stroke: gray;
	shape-rendering: crispEdges;
}

div.tooltip {
	visibility: hidden;
	position: absolute;
	background-color: white;
	width: 150px;
	height: 70px;
	border: solid 1px gray;
	box-shadow: 1px 1px 2px gray;
	z-index: 1;
	padding:4px;
	font-size: 14px;
}

.tt_year{
	font-weight: bold;
}

.tt_month{
	font-weight: bold;
}
